<launch>
    <group>
       <!-- <node pkg="autotarget" type="takeoff_yaw_land" name="worker1" respawn="true" output="screen" ns="/drone1"> -->
        <node pkg="autotarget" type="ros_test_xyz" name="worker" output="screen" ns="/drone1">
            <param name="namespace" value="/drone1"/>
            <param name="use_sim_time"  value="true" />
            <param name="target_system_id" value="1" />
        </node>
    </group>
    <!--
    <group>
        <node pkg="autotarget" type="ros_test_xyz" name="worker" output="screen" ns="/drone2">
            <param name="namespace" value="/drone2"/>
            <param name="use_sim_time"  value="true" />
            <param name="target_system_id" value="2" />
        </node>
    </group>
    -->
</launch>
